/* Fonts */

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Bold.ttf') format('.ttf'),
    url('../fonts/RedHatDisplay/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-SemiBold.ttf') format('.ttf'),
    url('../fonts/RedHatDisplay/RedHatDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Regular.ttf') format('.ttf'),
    url('../fonts/RedHatDisplay/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
