/* Fonts */

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Bold.ttf') format('.ttf')
    url('/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-SemiBold.ttf') format('.ttf')
    url('/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Black.ttf') format('.ttf')
    url('/fonts/Nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Regular.ttf') format('.ttf')
    url('/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.PhoneInputInput {
  margin-left: 0.5rem !important;
  outline: none;
  font-weight: bold;
}

.form-input {
  @apply mt-2 w-full font-bold py-3.5 px-5 border rounded-md text-base placeholder-gray-400;
}

.btn {
  @apply bg-primary-base w-full mt-8 px-7 py-5 duration-300 hover:bg-primary-hover active:bg-primary-active text-center text-white font-semibold rounded-lg;
}

.shadow-soft {
  box-shadow: 0 50px 77px rgb(176 183 195 / 35%);
}

.woman {
  background-image: url('../public/images/woman.png');
}

.jeans {
  background-image: url('../public/images/jeans.png');
}

.overlay {
  background-image: url('../public/images/overlay.png');
}
