/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.flickity-button {
  visibility: hidden;
  width: 0;
  height: 0;
}

.PhoneInputInput {
  margin-left: 0.5rem !important;
  outline: none;
  font-weight: bold;
}

.form-input {
  @apply w-full font-bold border rounded-md text-base placeholder-gray-400;
}

.btn {
  @apply bg-primary-base w-full mt-8 px-7 py-5 duration-300 hover:bg-primary-hover active:bg-primary-active text-center text-white font-semibold rounded-lg;
}

.shadow-soft {
  box-shadow: 0 50px 77px rgb(176 183 195 / 35%);
}

.woman {
  background-image: url('../public/images/woman.png');
}

.jeans {
  background-image: url('../public/images/jeans.png');
}

.overlay {
  background-image: url('../public/images/overlay.png');
}

.scale {
  @apply duration-100 transition-all transform active:scale-95;
}

.carousel-cell.is-selected {
  background: #ed2;
}

@screen 2xl {
  .mar {
    margin-left: 17.5rem !important;
  }
  .main {
    width: calc(100% - 17.5rem) !important;
  }
  .main-content {
    width: calc(100% - 350px) !important;
  }
  .w-detailbar {
    margin-left: -17.5rem !important;
  }
}

.mar {
  margin-left: 14rem;
}

.main {
  width: calc(100% - 14rem);
}

.main-content {
  width: calc(100% - 288px);
}

.w-detailbar {
  margin-left: -14rem;
}
