/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Bold'), local('Gill-Sans-Nova-Bold'),
    url('../fonts/GillSansNova-Bold/GillSansNova-Bold.ttf') format('woff2'),
    url('../fonts/GillSansNova-Bold/GillSansNova-Bold.woff') format('woff'),
    url('../fonts/GillSansNova-Bold/GillSansNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova SemiBold'), local('Gill-Sans-Nova-SemiBold'),
    url('../fonts/GillSansNova-Bold/GillSansNova-SemiBold.woff2')
      format('woff2'),
    url('../fonts/GillSansNova-Bold/GillSansNova-SemiBold.woff') format('woff'),
    url('../fonts/GillSansNova-Bold/GillSansNova-SemiBold.ttf')
      format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Book'), local('Gill-Sans-Nova-Book'),
    url('../fonts/GillSansNova-Bold/GillSansNova-Book.woff2') format('woff2'),
    url('../fonts/GillSansNova-Bold/GillSansNova-Book.woff') format('woff'),
    url('../fonts/GillSansNova-Bold/GillSansNova-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

* {
  outline: none;
}

.flickity-button {
  visibility: hidden;
  width: 0;
  height: 0;
}

.PhoneInput {
  flex-direction: row-reverse;
}

.PhoneInputInput {
  margin-left: 0.5rem !important;
  outline: none;
  font-weight: bold;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: -40px;
  display: flex;
  justify-content: center;
}

/* white circles */
.flickity-page-dots .dot {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #f3f7f8;
  border-radius: 50%;
  margin-top: 7rem;
  cursor: pointer;
}

.flickity-page-dots .dot:not(:last-child) {
  margin-right: 0.25rem;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #347f95;
}

.icon-dark svg {
  fill: #0d3643;
}

.icon-dark svg path {
  fill: #0d3643;
}

.PhoneInputInput:focus {
  @apply bg-primary-light;
}

.form-input {
  @apply w-full font-bold border rounded-lg text-base placeholder-gray-400 focus:bg-primary-light focus:border-primary-base;
}

.btn {
  @apply w-full mt-8 px-7 py-4 lg:py-5 duration-300 text-center font-semibold rounded-xl;
}

.btn-white {
  @apply hover:bg-primary-hover active:bg-primary-active text-white;
}

.active-icon svg path {
  fill: #347f95 !important;
}

.shadow-soft {
  box-shadow: 0 50px 77px rgb(176 183 195 / 35%);
}

.overlay {
  background-image: url('../public/images/overlay.png');
}

.scale {
  @apply duration-100 transition-all transform active:scale-95;
}

.carousel-cell.is-selected {
  background: #ed2;
}

@screen 2xl {
  .mar {
    margin-left: 17.5rem !important;
  }
  .main {
    width: calc(100% - 17.5rem) !important;
  }
  .main-content {
    width: calc(100% - 350px) !important;
  }
  .w-detailbar {
    margin-left: -17.5rem !important;
  }
}

.mar {
  margin-left: 14rem;
}

.main {
  width: calc(100% - 14rem);
}

.main-content {
  width: calc(100% - 288px);
}

.w-detailbar {
  margin-left: -14rem;
}

.stepper:not(:last-child)::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 27px;
  background-color: #9a9a9a78;
  top: 5rem;
}

/* Animations */
.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #0d3845cf, #0d3845cf),
    url('../public/images/banner.png');
}

.loading {
  animation: scale 0.3s linear infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
