input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

* {
  outline: none;
}

.flickity-button {
  visibility: hidden;
  width: 0;
  height: 0;
}

.PhoneInput {
  flex-direction: row-reverse;
}

.PhoneInputInput {
  margin-left: 0.5rem !important;
  outline: none;
  font-weight: bold;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: -10px;
  display: flex;
  margin-top: -5rem;
  justify-content: center;
}

@screen lg {
  .flickity-page-dots {
    bottom: -40px !important;
  }
  .flickity-page-dots .dot {
    width: 16px !important;
    height: 16px !important;
  }
}

/* white circles */
.flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #f3f7f8;
  border-radius: 50%;
  margin-top: 7rem;
  cursor: pointer;
}

.flickity-page-dots .dot:not(:last-child) {
  margin-right: 0.25rem;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #347f95;
}

.icon-dark svg {
  fill: #0d3643;
}

.icon-dark svg path {
  fill: #0d3643;
}

.phone_error .PhoneInputInput:focus {
  background: #fff !important;
}

.PhoneInputInput:focus {
  @apply bg-primary-light;
}

.form-input {
  @apply w-full font-bold border rounded-lg text-sm lg:text-base placeholder-gray-400;
}

.btn {
  @apply w-full px-5 lg:px-7 py-3.5 lg:py-4 xl:py-5 duration-300 text-center font-semibold rounded-xl;
}

.btn-white {
  @apply hover:bg-primary-hover active:bg-primary-active text-white;
}

.active-tab {
  @apply text-primary-base border-b-2 border-base;
}

.active-icon svg > path {
  fill: #347f95 !important;
  stroke: #347f95 !important;
}

.shadow-soft {
  box-shadow: 0 50px 77px rgb(176 183 195 / 35%);
}

.overlay {
  background-image: url('../public/images/overlay.png');
}

.auth-banner-1 {
  background-image: url('../public/images/auth/banner-1.webp');
}

.auth-banner-2 {
  background-image: url('../public/images/auth/banner-2.webp');
}

.auth-banner-3 {
  background-image: url('../public/images/auth/banner-3.webp');
}

.scale {
  @apply duration-100 transition-all transform active:scale-95;
}

.carousel-cell.is-selected {
  background: #ed2;
}

.main-content {
  width: 100%;
}

@screen xl {
  .main-content {
    width: 100%;
    padding-left: 240px;
  }
}

@screen 2xl {
  .main-content {
    padding-left: 300px;
  }
}

.stepper:not(:last-child)::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 27px;
  background-color: #9a9a9a78;
  top: 5rem;
}

/* Animations */
.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #0d3845cf, #0d3845cf),
    url('../public/images/banner.webp');
}

.loading {
  animation: scale 0.3s linear infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.pincode-input-text {
  padding: 0 !important;
  margin: 0 6px !important;
  text-align: center !important;
  background: transparent;
  width: 50px !important;
  height: 50px !important;
  font-size: 28px !important;
  border-radius: 12px !important;
}

.pincode-input-text:not([value='']) {
  border: 2px solid #347f95 !important;
}

@media print {
  .myDivToPrint {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}
